/*FONTES*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  /*TUDO DO SITE*/
*{
    position: right;
    background-color: rgb(21, 2, 39);
    outline: none;
    border: none;
}
body{
    background-position: center;
}
h1{
    text-align: center;
    color: rgb(15, 15, 204);
    font-family: Poppins;
    font-size: 100px;
}
.text0{
    font-family: 'Poppins';
    color: white;
    font-size: 40px;
    animation: fadein-movimento 1s;

}
h2{
    font-family: 'Poppins';
    color: white;
    font-size: 60px;
    animation: fadein-movimento 1s;
}
img{
    width: 1000px;
}
section{
    display: flex;
}
iframe{
    width: 400px;
    height: 400px;
}