h1{
    color: rgb(168, 24, 24);
    transition: all 0.3s ease;
}
h1:hover{
    color: rgb(255, 2, 2);
    transition: all 0.3s ease;
}
span{
    color:rgb(255, 2, 2);
    font-size: 40px;
}
p{
    color: white;
    font-size: 25px;
}
