h1{
    color: rgb(0, 68, 255);
    transition: all 0.3s ease;
}
h1:hover{
    color: rgb(25, 122, 25);
    transition: all 0.3s ease;
}
span{
    color: rgb(25, 122, 25);
    font-size: 40px;
}
p{
    color: white;
    font-size: 25px;
}
